In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_csv(r'C:\Users\HP5CD\Downloads\Train_Data.csv')
df

,SEQN,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN,age_group
0,73564.0,2.0,2.0,35.7,110.0,2.0,150.0,14.91,Adult
1,73568.0,2.0,2.0,20.3,89.0,2.0,80.0,3.85,Adult
2,73576.0,1.0,2.0,23.2,89.0,2.0,68.0,6.14,Adult
3,73577.0,1.0,2.0,28.9,104.0,NaN,84.0,16.15,Adult
4,73580.0,2.0,1.0,35.9,103.0,2.0,81.0,10.92,Adult
...,...,...,...,...,...,...,...,...,...
1961,83711.0,2.0,2.0,33.5,100.0,2.0,73.0,6.53,Adult
1962,83712.0,1.0,2.0,30.0,93.0,2.0,208.0,13.02,Adult
1963,83713.0,1.0,2.0,23.7,103.0,2.0,124.0,21.41,Adult
1964,83718.0,2.0,2.0,27.4,90.0,2.0,108.0,4.99,Adult
1965,83727.0,1.0,2.0,24.5,NaN,2.0,108.0,3.76,Adult

In [3]:
df.isnull().sum()

SEQN         12
RIAGENDR     18
PAQ605       13
BMXBMI       18
LBXGLU       13
DIQ010       18
LBXGLT       11
LBXIN         9
age_group    14
dtype: int64

In [4]:
df.dropna(subset=['SEQN', 'age_group', 'RIAGENDR'], inplace=True)
df

,SEQN,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN,age_group
0,73564.0,2.0,2.0,35.7,110.0,2.0,150.0,14.91,Adult
1,73568.0,2.0,2.0,20.3,89.0,2.0,80.0,3.85,Adult
2,73576.0,1.0,2.0,23.2,89.0,2.0,68.0,6.14,Adult
3,73577.0,1.0,2.0,28.9,104.0,NaN,84.0,16.15,Adult
4,73580.0,2.0,1.0,35.9,103.0,2.0,81.0,10.92,Adult
...,...,...,...,...,...,...,...,...,...
1961,83711.0,2.0,2.0,33.5,100.0,2.0,73.0,6.53,Adult
1962,83712.0,1.0,2.0,30.0,93.0,2.0,208.0,13.02,Adult
1963,83713.0,1.0,2.0,23.7,103.0,2.0,124.0,21.41,Adult
1964,83718.0,2.0,2.0,27.4,90.0,2.0,108.0,4.99,Adult
1965,83727.0,1.0,2.0,24.5,NaN,2.0,108.0,3.76,Adult

In [5]:
df.isnull().sum()

SEQN          0
RIAGENDR      0
PAQ605       13
BMXBMI       18
LBXGLU       13
DIQ010       18
LBXGLT       11
LBXIN         9
age_group     0
dtype: int64

In [6]:
cols_to_fill = ['PAQ605', 'BMXBMI', 'LBXGLU', 'DIQ010', 'LBXGLT', 'LBXIN']  

for col in cols_to_fill:
    df[col] = df[col].fillna(df[col].mean())
df

,SEQN,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN,age_group
0,73564.0,2.0,2.0,35.7,110.000000,2.000000,150.0,14.91,Adult
1,73568.0,2.0,2.0,20.3,89.000000,2.000000,80.0,3.85,Adult
2,73576.0,1.0,2.0,23.2,89.000000,2.000000,68.0,6.14,Adult
3,73577.0,1.0,2.0,28.9,104.000000,2.015748,84.0,16.15,Adult
4,73580.0,2.0,1.0,35.9,103.000000,2.000000,81.0,10.92,Adult
...,...,...,...,...,...,...,...,...,...
1961,83711.0,2.0,2.0,33.5,100.000000,2.000000,73.0,6.53,Adult
1962,83712.0,1.0,2.0,30.0,93.000000,2.000000,208.0,13.02,Adult
1963,83713.0,1.0,2.0,23.7,103.000000,2.000000,124.0,21.41,Adult
1964,83718.0,2.0,2.0,27.4,90.000000,2.000000,108.0,4.99,Adult
1965,83727.0,1.0,2.0,24.5,99.475916,2.000000,108.0,3.76,Adult

In [7]:
df.replace({'age_group': {'Adult': 0, 'Senior': 1}}, inplace=True)
df

C:\Users\HP5CD\AppData\Local\Temp\ipykernel_59032\607778370.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'age_group': {'Adult': 0, 'Senior': 1}}, inplace=True)

,SEQN,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN,age_group
0,73564.0,2.0,2.0,35.7,110.000000,2.000000,150.0,14.91,0
1,73568.0,2.0,2.0,20.3,89.000000,2.000000,80.0,3.85,0
2,73576.0,1.0,2.0,23.2,89.000000,2.000000,68.0,6.14,0
3,73577.0,1.0,2.0,28.9,104.000000,2.015748,84.0,16.15,0
4,73580.0,2.0,1.0,35.9,103.000000,2.000000,81.0,10.92,0
...,...,...,...,...,...,...,...,...,...
1961,83711.0,2.0,2.0,33.5,100.000000,2.000000,73.0,6.53,0
1962,83712.0,1.0,2.0,30.0,93.000000,2.000000,208.0,13.02,0
1963,83713.0,1.0,2.0,23.7,103.000000,2.000000,124.0,21.41,0
1964,83718.0,2.0,2.0,27.4,90.000000,2.000000,108.0,4.99,0
1965,83727.0,1.0,2.0,24.5,99.475916,2.000000,108.0,3.76,0

In [8]:
from sklearn.model_selection import train_test_split
X=df[['RIAGENDR', 'PAQ605', 'BMXBMI', 'LBXGLU', 'DIQ010', 'LBXGLT', 'LBXIN']]
y = df[['age_group']]
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y)

In [9]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

def print_score(clf, X_train, y_train, X_test, y_test, train=True):
    if train:
        pred = clf.predict(X_train)
        clf_report = pd.DataFrame(classification_report(y_train, pred, output_dict=True))
        print("Train Result:\n================================================")
        print(f"Accuracy Score: {accuracy_score(y_train, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:\n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(y_train, pred)}\n")
        
    elif train==False:
        pred = clf.predict(X_test)
        clf_report = pd.DataFrame(classification_report(y_test, pred, output_dict=True))
        print("Test Result:\n================================================")        
        print(f"Accuracy Score: {accuracy_score(y_test, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:\n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(y_test, pred)}\n")

In [10]:
from sklearn.tree import DecisionTreeClassifier

tree_clf = DecisionTreeClassifier(random_state=42)
tree_clf.fit(X_train, y_train)

print_score(tree_clf, X_train, y_train, X_test, y_test, train=True)
print_score(tree_clf, X_train, y_train, X_test, y_test, train=False)

Train Result:
================================================
Accuracy Score: 100.00%
_______________________________________________
CLASSIFICATION REPORT:
                0      1  accuracy  macro avg  weighted avg
precision     1.0    1.0       1.0        1.0           1.0
recall        1.0    1.0       1.0        1.0           1.0
f1-score      1.0    1.0       1.0        1.0           1.0
support    1290.0  248.0       1.0     1538.0        1538.0
_______________________________________________
Confusion Matrix:
 [[1290    0]
 [   0  248]]

Test Result:
================================================
Accuracy Score: 76.36%
_______________________________________________
CLASSIFICATION REPORT:
                    0          1  accuracy   macro avg  weighted avg
precision    0.849398   0.226415  0.763636    0.537906      0.749073
recall       0.873065   0.193548  0.763636    0.533307      0.763636
f1-score     0.861069   0.208696  0.763636    0.534882      0.756011
support    323.000000  62.000000  0.763636  385.000000    385.000000
_______________________________________________
Confusion Matrix:
 [[282  41]
 [ 50  12]]

In [11]:
test_data = pd.read_csv(r"C:\Users\HP5CD\Downloads\Test_Data.csv")
test_data.drop(['SEQN'], axis=1, inplace=True)
test_data

     RIAGENDR  PAQ605  BMXBMI  LBXGLU  DIQ010  LBXGLT  LBXIN
0         1.0     1.0    32.2    96.0     2.0   135.0  15.11
1         2.0     2.0    26.3   100.0     2.0   141.0  15.26
2         1.0     2.0    28.6   107.0     2.0   136.0   8.82
3         2.0     1.0    22.1    93.0     2.0   111.0  12.13
4         1.0     1.0    24.7    91.0     2.0   105.0   3.12
..        ...     ...     ...     ...     ...     ...    ...
307       2.0     2.0    21.9    82.0     2.0    82.0   2.54
308       2.0     1.0    33.3    95.0     2.0    77.0   6.36
309       2.0     2.0    41.5    91.0     2.0   149.0  15.52
310       2.0     2.0    22.5    82.0     2.0    93.0   1.39
311       1.0     2.0    16.1    96.0     2.0   197.0   8.57

[312 rows x 7 columns]

In [12]:
y_test = tree_clf.predict(test_data)

In [13]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(df['age_group'])
y_decoded = label_encoder.inverse_transform(y_test)
y_decoded

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 1], dtype=int64)

In [14]:
result = pd.DataFrame({'age_group': y_decoded})

In [15]:
result.to_csv("submission_hack2.csv", index=False)